<h1><%= @representative.name %>'s Profile</h1>
<div>
  <img src="<%= @representative.photoUrl %>" alt="Representative Photo">
  <p>Name: <%= link_to @representative.name, representative_path(@representative) %></p>
  <p>Contact Address: <%= @representative.address %></p>
  <p>Political Party: <%= @representative.polparty %></p>
</div>
